<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700&amp;display=swap&amp;subset=cyrillic"
        rel="stylesheet">
</head>

<body class="page">
    <div class="page__container">
        <header class="header">
            <div class="box">
                <div class="header__content"><button class="button-menu header__button-menu" type="button"><span
                            class="button-menu__line"></span></button>
                    <p class="header__user">Hi,</p>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="box">
                <div class="posts">
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a class="nav__link" [routerLink]="['/home']">Нome</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" [routerLink]="['/my-posts']">My posts</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" [routerLink]="['/friends-posts']">Friends posts</a>
                            </li>
                            <li class="nav__item nav__item--active">
                                <a class="nav__link" [routerLink]="['/add-post']">Add post</a>
                            </li>
                        </ul>
                    </nav><!-- END .nav-->
                    <div class="posts-content">
                        <div class="add-post">
                            <h1 class="add-post__title">Add post</h1>
                            <form class="form add-post__form" onsubmit="return false" novalidate="">
                                <div class="form__item"><label class="form__label" for="title">Title</label><input
                                        class="form__input" type="text" id="title" placeholder="Title" required=""><span
                                        class="error">Title is required!</span></div>
                                <div class="form__item"><label class="form__label" for="text-post">Text</label><textarea
                                        class="form__input add-post__input" id="text-post" placeholder="Enter text"
                                        required=""></textarea><span class="error">Text is required!</span></div><button
                                    class="button add-post__button">Add post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/validation.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/add-post.js"></script>
</body>

</html>
