<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700&amp;display=swap&amp;subset=cyrillic"
        rel="stylesheet">
</head>

<body class="page">
    <div class="page__container">
        <header class="header">
            <div class="box">
                <div class="header__content"><button class="button-menu header__button-menu" type="button"><span
                            class="button-menu__line"></span></button>
                    <p class="header__user">Hi, </p>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="box">
                <div class="posts">
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a class="nav__link" [routerLink]="['/home']">Нome</a>
                            </li>
                            <li class="nav__item nav__item--active">
                                <a class="nav__link" [routerLink]="['/my-posts']">My posts</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" [routerLink]="['/friends-posts']">Friends posts</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" [routerLink]="['/add-post']">Add post</a>
                            </li>
                        </ul>
                    </nav><!-- END .nav-->
                    <div class="posts-content">
                        <div class="posts-list">
                            <div class="posts-item"><a class="posts-item__title">Starts and ends with JavaScript</a>
                                <p class="posts-item__text">TypeScript starts from the same syntax and semantics that
                                    millions of JavaScript developers know today. Use existing JavaScript code,
                                    incorporate popular JavaScript libraries, and call TypeScript code from Java ...</p>
                                <time class="posts-item__text">2019-08-16</time>
                            </div>
                            <div class="posts-item"><a class="posts-item__title">Strong tools for large apps</a>
                                <p class="posts-item__text">Types enable JavaScript developers to use highly-productive
                                    development tools and practices like static checking and code refactoring when
                                    developing JavaScript applications.<br><br>Types are optional, and type infer ...
                                </p><time class="posts-item__text">2019-08-16</time>
                            </div>
                            <div class="posts-item"><a class="posts-item__title">Area Chart Example</a>
                                <p class="posts-item__text">undefined</p><time
                                    class="posts-item__text">2019-08-19</time>
                            </div>
                            <div class="posts-item"><a class="posts-item__title">fdefr</a>
                                <p class="posts-item__text">rerfcerfer</p><time
                                    class="posts-item__text">2019-08-23</time>
                            </div>
                            <div class="posts-item"><a class="posts-item__title">Area Chart Example</a>
                                <p class="posts-item__text">Area Chart ExampleArea Chart ExampleArea Chart ExampleArea
                                    Chart ExampleArea Chart ExampleArea Chart Example</p><time
                                    class="posts-item__text">2019-08-26</time>
                            </div>
                            <div class="posts-item"><a class="posts-item__title">Area Chart Example</a>
                                <p class="posts-item__text">vrevgfergtrgrt</p><time
                                    class="posts-item__text">2019-08-26</time>
                            </div>
                            <div class="posts-item"><a class="posts-item__title">Area Chart Example</a>
                                <p class="posts-item__text">rferferf</p><time class="posts-item__text">2019-08-26</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/notification.js"></script>
    <script src="javascripts/post.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/my-posts.js"></script>
</body>

</html>
